<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolweather.gofun">
    <!-- 用于进行网络定位 -->
    <application
        android:name=".GoFunApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".Setting"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fragment.Mine.FeedBack.FeedBackActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fragment.Mine.about.WebActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fragment.Mine.about.AboutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fragment.Mine.tag.MineTagActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Mine.collect.CollectActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Mine.introduce.Introduce"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.TagActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".fragment.Mine.create.ApprovedActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Mine.create.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Message.ActivityChartMessage"
            android:exported="false" />
        <activity
            android:name=".fragment.Recommend.RecommendCommendActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Recommend.RecommendActivityDetail"
            android:exported="false" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.RouteActivity" />
        <activity
            android:name=".activity.LaunchActivity"
            android:theme="@style/AppThemeone"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".fragment.Mine.apply.PersonActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.Mine.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".Guidance.GuidanceActivity"
            android:exported="false" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".Animation.SgfSplash6Activity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.DetailInfoActivity"
            android:theme="@style/AppThemeone" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ce3d805f885b80f2b755670f19f3e587" /> <!-- 定位service -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.coolweather.gofun.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 设置高德Key -->
        <service android:name="com.amap.api.location.APSService" />
    </application> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

</manifest>